body {
  background-color: stealblue;
  font-size: 2rem;
}

.titulo {
  color: red;
}

h2 {
  color: hsl(300, 71%, 53%);
}
h2 + p {
  background-color: stealblue;
}
h2 > a {
  text-transform: uppercase;
}

.box {
  border: 1px solid currentColor;
  background-color: yellow;
}
.box p {
  border: 1px solid darkred;
}
.box:hover {
  background-color: slateblue;
}

.box2 {
  background-color: blue;
}

.box3 {
  background-color: blue;
}

.facebook {
  color: brown;
}
footer .facebook {
  text-decoration-color: powderblue;
}

.menu {
  color: chartreuse;
  border: 1px solid yellow;
}
.menu, .menu ul {
  list-style: none;
}
.icon-menu {
  color: yellow;
}

.button {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}
.button a.button {
  color: darkmagenta;
}

.extends-box, .box-extendido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgoldenrodyellow;
  border: thin solid lime;
  position: relative;
}
.extends-box__items {
  position: relative;
}

.box-extendido {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner {
  font-family: verdana;
  font-size: 1em;
  font-weight: 900;
}

/*
tipos de datos en sass

numeros
strings
colores
booleans
null
lists
maps

*/
.data-number {
  type1: number;
  type2: number;
}
.data-string {
  type1: string;
  type2: list;
  type3: string;
  type4: string;
}
.data-colors {
  type1: color;
  type2: color;
}
.data-bools {
  type1: bool;
  type1: bool;
}
.data-null {
  type: null;
}
.data-lists {
  type1: list;
  type2: list;
  type3: list;
  value: hola mundo, adios mundo;
  length: 2;
  length: 4;
  adios: adios mundo;
}