/*
styles to copy directly to anki
*/

@import url(_normalize.css);
*{
    box-sizing: border-box;
}

.card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D9CECE;
    min-height: 100vh;
}
.header{
    display: flex;
    height: 70px;
    background-color: #2B3648;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: auto;
    margin-top: 0;
}
.logo{
    width: 50px;
}

.lang{
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 25px;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
}

.title img{
    width: 40px;
}

.title h2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2B3648;
    width: 100%;
}

.myLang{
    width: 100%;
    font-size: 30px;
}

.myLang h3{
    text-align: center;
    text-transform: uppercase;
    color: #2B3648;
}



.answer .title{
    justify-content: center;
}

.answer h2 {
    margin-left: 1em;
    width: auto;
}

.mp3,
.mp4{
    width: 90%;
    background-color: #859F9A;
    margin: 2em auto 1em;
    display: flex;
    padding: .5em;
    border-radius: 15px;
}

.mp4{
    margin-top: 1em;
    background-color: #D2989C;
}

.mp3 img,
.mp4 img{
    width: 30px;
}

.play{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    padding-right: .5em; 

}
.media{
    display: flex;
    flex-wrap: wrap;
    
}


.media img {
    margin: .2em .3em;
}


.hr{
    max-width: 600px;
    display: block;
    margin: auto;
}

@media screen and (min-width: 810px) {
    
    .header{
        width: 70%;
        margin: auto;
    }
    .title{
        width: 70%;
        margin: auto;
    }
    
    .hr{
        width: 65%;
    }


    .mp3,
    .mp4{
        width: 70%;
    }

}


@media screen and (min-width: 1200px) {
    
    .header{
        max-width: 800px;
        margin: auto;
    }
    .title{
        max-width: 800px;
        margin: auto;
    }

    .mp3,
    .mp4{
        max-width: 800px;
    }

}