p{
    color: coral;
    font-size: large;
    text-transform: uppercase;
}


.tabla, .tabla td, .tabla th {  
  border: 1px solid #ddd;
  text-align: left;
  border-collapse: collapse;
  width: 60%;
}


.tabla th, .tabla td {
  padding: 15px;
}


.tabla a{
  cursor: pointer;
}
.tabla tr:nth-child(odd) {background-color: #666666;}
.tabla tr:nth-child(even) {background-color: #444444;}
.tabla tr:hover {background-color: rgb(151, 185, 151); color:rgb(83, 23, 23);}