.tabla,
.tabla > tbody > tr > td,
.tabla > tbody > tr > th{  
  color: aliceblue;
  border: 1px solid #ddd;
}

.tabla{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
}

.tabla td, th{
    width: fit-content;
}

.tabla > tbody > tr > th,
.tabla > tbody > tr > td {
  padding: 10px 20px;
}


.tabla a{
  cursor: pointer;
}
.tabla > tbody > tr:nth-child(odd) {background-color: #666666;}
.tabla > tbody > tr:nth-child(even) {background-color: #444444;}
.tabla > tbody > tr:hover {background-color: rgb(151, 185, 151); color:rgb(83, 23, 23);}


